@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



html,
body {
    height: 100%;
    width: 100%;
    font-family: "Bitcount Prop Single Ink", system-ui;
    font-optical-sizing: auto;
    background-image: url(flowe.jpg);
    background-size: cover;
    overflow: hidden;
    margin: 0;

}

.row {
    margin: 8px 0px;
}

.button {
    padding: 20px;
    width: 66px;
    margin: 0 3px;
    border-radius: 9px;
    border: 2px solid black;
    cursor: pointer;
}

.row input {
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 9px;
}